<h1>Welcome to Bridge</h1>
<p>Your one-stop platform for tutoring and networking at Columbia.</p>

<h2>Postings</h2>

<%= form_tag postings_path, method: :get, id: 'types_form' do %>
  Include Posts Made By:
  <% @all_types.each do |t| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "types[#{t}]", t, class: 'form-check-label' %>
      <%= check_box_tag "types[#{t}]", "1",  @types_to_show.include?(t), class: 'form-check-input' %>
    </div>
  <% end %>
  <br/>
  Include Subjects:
  <% @all_subjects.each do |s| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "subjects[#{s}]", s, class: 'form-check-label' %>
      <%= check_box_tag "subjects[#{s}]", "1",  @subjects_to_show.include?(s), class: 'form-check-input' %>
    </div>
  <% end %>
  <br/>
  <%= submit_tag 'Refresh', class: 'btn btn-primary' %>
<% end %>

<div class="postings-container">
  <% @postings.each do |p| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= p.name %></h5>
        <p class="card-subtitle"><%= p.type_of %></p>
        <p class="card-text"><%= p.subject %></p>
        <p class="card-text">Hourly Price: <%= p.price %></p>
        <%= link_to "More about this #{p.type_of}", posting_path(p), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add new posting', new_posting_path, :class => 'btn btn-primary' %>

<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete,
        class: 'btn btn-secondary'
      ) %>
