<h1>Welcome to Bridge</h1>
<p>Your one-stop platform for tutoring and networking at Columbia.</p>

<h2>Postings</h2>

<table class="table table-striped col-md-12" id="postings">
  <thead>
    <tr>
      <th>User/Professional</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @postings.each do |p| %>
      <tr>
        <td>
          <%= p.type_of %>
        </td>
        <td>
          <%= p.name %>
        </td>
        <td>
          <%= p.subject %>
        </td>
        <td>
          <%= p.price %>
        </td>
        <td>
          <%= link_to "More about this #{p.type_of}", posting_path(p) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new posting', new_posting_path, :class => 'btn btn-primary' %>

<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>