<h1>Welcome to Bridge</h1>
<p>Your one-stop platform for tutoring and networking at Columbia.</p>

<h2>Postings</h2>

<%= form_tag postings_path, method: :get, id: 'types_form' do %>
  Include:
  <% @all_types.each do |t| %>
    <div class="form-check  form-check-inline">
      <%= label_tag "types[#{t}]", t, class: 'form-check-label' %>
      <%= check_box_tag "types[#{t}]", "1",  @types_to_show.include?(t), class: 'form-check-input' %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'types_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="postings">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Hourly Price</th>
    </tr>
  </thead>
  <tbody>
    <% @postings.each do |p| %>
      <tr>
        <td>
          <%= p.type_of %>
        </td>
        <td>
          <%= p.name %>
        </td>
        <td>
          <%= p.subject %>
        </td>
        <td>
          <%= p.price %>
        </td>
        <td>
          <%= link_to "More about this #{p.type_of}", posting_path(p) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new posting', new_posting_path, :class => 'btn btn-primary' %>

<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>