<h2>Create New Posting</h2>

<%= form_for @posting, url: postings_path, :class => 'form' do %>
  <%= label :posting, :type_of, 'Type: ', :class => 'col-form-label'  %>
  <%= select :posting, :type_of, Posting.all_types, {}, {:class => 'form-control col-1'} %>
  <br/><br/>
  <%= label :posting, :subject, 'Subject: ', :class => 'col-form-label'  %>
  <%= select :posting, :subject, Posting.all_subjects, {}, {:class => 'form-control col-1'} %>
  <br/><br/>
  <%= label :posting, :name, 'Name: ', :class => 'col-form-label' %>
  <%= text_field :posting, :name, :class => 'form-control' %>
  <br/><br/>
  <%= label :posting, :description, 'Description: ', :class => 'col-form-label' %>
  <%= text_field :posting, :description, :class => 'form-control' %>
  <br/><br/>
  <%= label :posting, :price, 'Hourly Price: ', :class => 'col-form-label' %>
  <%= text_field :posting, :price, :class => 'form-control' %>
  <br/><br/>
  <%= label :posting, :availability, 'Availability: ', :class => 'col-form-label' %>
  <%= text_field :posting, :availability, :class => 'form-control' %>
  <br/><br/>
  <%= label :posting, :contact, 'Contact Info: ', :class => 'col-form-label' %>
  <%= text_field :posting, :contact, :class => 'form-control' %>
  <br/><br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', postings_path, :class => 'btn btn-secondary' %>
<% end %>