<!DOCTYPE html>
<html>
<head>
  <title>Bridge</title>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <header>
    <%= image_tag 'BridgePhoto.jpg', alt: 'Bridge Logo', style: 'margin-top: 20px;' %>
    <nav>
      <%= link_to 'Home', root_path, class: 'nav-link' %> |
      <%= link_to 'My Postings', my_postings_path, class: 'nav-link' %>
    </nav>
  </header>
  <div class="main-content">
    <%= yield %>
  </div>
</body>
</html>

