<!DOCTYPE html>
<html>
<head>
  <title>Bridge</title>
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'rails-ujs' %> <!-- Include if needed -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
    /* Custom Styles */
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f8f9fa;
      padding: 20px 0;
      box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }

    header img {
      max-width: 100%; /* Ensures the image is responsive */
      height: auto;
      margin-bottom: 10px; /* Adds space between the image and navigation links */
    }

    nav {
      display: block;
    }

    .nav-link {
      font-size: 18px;
      color: #333;
      text-decoration: none;
      padding: 8px 16px;
    }

    .nav-link:hover {
      text-decoration: underline;
      color: #0056b3;
    }

    /* Ensures that nav links are horizontally aligned on larger screens */
    @media (min-width: 768px) {
      nav {
        display: flex;
        justify-content: center;
      }
    }

    .main-content {
      padding: 20px;
    }
  </style>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <%= yield :head %>
</head>
<body>
  <header>
    <%= image_tag 'BridgePhoto.jpg', alt: 'Bridge Logo' %>
    <nav>
      <%= link_to 'Home', root_path, class: 'nav-link' %> |
      <%= link_to 'My Postings', my_postings_path, class: 'nav-link' %>
    </nav>
  </header>
  <div class="main-content">
    <%= yield %>
  </div>
</body>
</html>